.btn {
    background: #332929;
    background-image: -webkit-linear-gradient(top, #332929, #2980b9);
    background-image: -moz-linear-gradient(top, #332929, #2980b9);
    background-image: -ms-linear-gradient(top, #332929, #2980b9);
    background-image: -o-linear-gradient(top, #332929, #2980b9);
    background-image: linear-gradient(to bottom, #332929, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}